:root {
  --font-size-base: 16px;
  --font-size-lg: 18px;
  --font-size-xl: 20px;
  --small: 12px;
  --large: 24px;
}

body {
  padding: 20px 20px;
  margin: 0px;
}

.header {
  padding: var(--large);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: blue;
  width: 100%;
}

.header a {
  text-transform: capitalize;
  padding: var(--small);
  font-size: var(--font-size-base);
}

.header a:hover {
  background-color: gray;
  color: black;
}
